---
import TabButton from "./tab-button.astro";
---

<div class="flex w-full gap-2 rounded-full bg-indigo-50 p-2">
  <TabButton href="/box-shadow" title="Box Shadow" />
  <TabButton href="/border-radius" title="Border Radius" />
</div>
