---
import { AstroSeo } from "@astrolib/seo";

import BoxShadowGenerator from "@/components/box-shadow-generator";
import Tabs from "@/components/tabs/index.astro";
import Layout from "@/layouts/Layout.astro";
---

<AstroSeo
  title="Box Shadow Generator - Obake Labs"
  description="Generate box shadows for your website with ease."
/>

<Layout>
  <main class="min-h-dvh">
    <section
      class="mx-auto flex w-full max-w-5xl flex-col items-center justify-center gap-y-4 px-4 py-10 xl:px-0"
    >
      <h1 class="text-center text-3xl font-bold">
        Box Shadow Generator - Obake Labs
      </h1>

      <Tabs />

      <BoxShadowGenerator client:load />
    </section>
  </main>
</Layout>
