---
import { AstroSeo } from "@astrolib/seo";

import Tabs from "@/components/tabs/index.astro";

import Layout from "../layouts/Layout.astro";

const title = "CSS Tools - Obake Labs";
const description =
  "A collection of CSS tools for designers and developers. Easily adjust properties with interactive sliders. Live preview and instant code copying for seamless workflow.";
---

<AstroSeo title={title} description={description} />

<Layout>
  <main class="flex min-h-dvh items-center justify-center">
    <section
      class="mx-auto flex w-full max-w-2xl flex-col items-center justify-center gap-y-8 px-4 py-10 xl:px-0"
    >
      <div class="flex flex-col items-center justify-center gap-y-4">
        <h1 class="text-center text-3xl font-bold">{title}</h1>

        <p class="text-muted-foreground w-full max-w-xl text-center">
          {description}
        </p>
      </div>

      <Tabs />
    </section>
  </main>
</Layout>
