---
import BoxShadowGenerator from "../components/box-shadow-generator";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="min-h-dvh">
    <section class="flex h-full flex-col items-center justify-center">
      <div class="flex w-full flex-col items-center justify-center gap-y-4">
        <h1 class="text-center text-3xl font-bold">
          Box Shadow Generator - Obake Labs
        </h1>

        <BoxShadowGenerator client:load />
      </div>
    </section>
  </main>
</Layout>
