---
import { cn } from "@/lib/utils";

import { ButtonLink } from "./ui/button";

const currentPath = Astro.url.pathname;
---

<div class="flex w-full gap-2 rounded-full bg-indigo-50 p-2">
  <ButtonLink
    href="/box-shadow"
    className={cn(
      "w-full rounded-full text-base text-white",
      currentPath.startsWith("/box-shadow")
        ? "border-indigo-600 bg-indigo-600 hover:bg-indigo-600/90"
        : "border-indigo-400 bg-transparent text-black hover:border-indigo-600 hover:bg-indigo-600 hover:text-white",
    )}
    variant={currentPath.startsWith("/box-shadow") ? "default" : "outline"}
  >
    Box Shadow
  </ButtonLink>

  <ButtonLink
    href="/border-radius"
    className={cn(
      "w-full rounded-full text-base text-white",
      currentPath.startsWith("/border-radius")
        ? "border-indigo-600 bg-indigo-600 hover:bg-indigo-600/90"
        : "border-indigo-400 bg-transparent text-black hover:border-indigo-600 hover:bg-indigo-600 hover:text-white",
    )}
    variant={currentPath.startsWith("/border-radius") ? "default" : "outline"}
  >
    Border Radius
  </ButtonLink>
</div>
